@use 'variaveis';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: variaveis.$fontePrincipal;
}

@mixin images(){
    position: absolute;
    display: none;
}

body{
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corPrincipal;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    background-color: variaveis.$corContainer;
    margin: 0 auto;
    border-radius: 36px;

    &--page-main{
        max-width: 928px;
        max-height: 641px;
        padding: 24px;
        display: flex;
        justify-content: space-between;
    }

    &--page-thanks{
        max-width: 504px;
        max-height: 520px;
        padding: 48px 64px 64px 64px;
        display: none;

        img{
            width: 64px;
            height: 64px;
        }
    }
}

.content-form{
    padding: 74px 64px 73px 44px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    &__title{
        font-size: 56px;
        font-weight: bold;
    }

    &__text{
        line-height: 24px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;

        &__item{
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    &--page-thanks{
        margin: 40px 0;
    }
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    &__label{
        font-size: 12px;
        font-weight: bold;
    }

    &__input{
        height: 56px;
        border: 1px solid #19182B40;
        border-radius:8px;
        padding: 8px 24px;
        font-size: 16px;
        margin: 8px 0 24px;
        cursor: pointer;
        background-color: none;
        
        &--is-erro{
            border-color: #FF6155;
            background-color: #fbd8d6;
            color: #FF6155;

            &::placeholder{
                color: #FF6155; 
            }
        }
        
    }

    &__button{
        padding: 18px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        color: variaveis.$corContainer;
        background-color: variaveis.$corPrincipal;
        cursor: pointer;
        transition: all ease .5s;
        
        &--page-thanks{
            width: 100%;
        }

        &:hover{
            box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
            background: variaveis.$corHoverBotao;
            scale: 1.03;
        }

    }
}

.before-input{
    display: flex;
    justify-content: space-between;
}

.image{
    position: relative;
    &__rectangle{
        border-radius: 16px;
    }

    &__computer{
        @include images();
        top: 139px;
        right: 0;
    }

    &__tablet{
        @include images();
        top: 210px;
        left: 0px;
    }

    &__statistics{
        @include images();
        top:117px;
        left: 246px;
    }

    &__number{
        @include images();
        top: 263px;
        right: 0;
    }
}

.mensagem-error{
    font-size: 12px;
    font-weight: bold;
    color: variaveis.$corMensagemErro;
    display: none;
}
